@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
    background: #F1F1F3;
    margin: 0 auto;
    padding: 0;
}

.buttonHover:hover {
    background-color: #d1f0d1; 
    border-color: #b5e0b5;   
    transform: scale(1.05); 
  }

/* header section */
.nav {
    display: flex;
    justify-content: space-between;
    margin: 24px 160px;


}

.nev-btn {
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
}
.nev-btn:hover {
    color: white;
    background-color: #006A50; 
    border-color: #2e4e2e;   
    transform: scale(1.05); 
    cursor: pointer;
  }

.nav-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    background: #C6E4D6;
    padding: 20px 30px;
    margin: 50px 160px;
}

.nav-banner-title {
    font-size: 24px;
    font-weight: 500;
    color: #0e0e0e80;
}

.nav-banner-content {
    color: #0E0E0E;
    font-size: 36px;
    font-weight: 700;
}

.nav-banner-btn {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background: #006A50;
    padding: 17px 34px;
    border: none;
}
.nav-banner-btn:hover {   
    transform: scale(1.05); 
    cursor: pointer;
  }

.nav-banner-img {
    width: 500px;
    height: auto;
}

/* pillars- section */

.pillars {
    margin: 80px 160px;

}

.pillarsCard {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.pillars-box {

    background: #FFF;
    border-radius: 16px;
    border: 1px solid #0e0e0e26;
    padding: 10px;
}

.pillars-title {
    color: #0E0E0E;
    font-size: 40px;
    font-weight: 700;
}

.pillars-box-title {
    font-size: 20px;
    font-weight: 700;
    color: #0e0e0ecc;
    margin-top: 10px;
}

.pillars-box-content {
    color: #0e0e0eb3;
}

/* vision - section */

.Vision {
    margin: 80px 160px;
}



.VisionCard {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.Vision-of-Future-title {
    color: #0E0E0E;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;

}

.Vision-of-Future-content {
    color: #0e0e0eb3;
}

.VisionCard1 {
    border-radius: 16px;
    border: 0px solid #5490F5;
    background: #5490f533;
    border: none;
    padding: 20px;

}

.VisionCard1-title,
.VisionCard2-title,
.VisionCard3-title {
    font-size: 20px;
    font-weight: 700;
    color: #0e0e0ecc;
    margin-bottom: 0;
}

.VisionCard1-content,
.VisionCard2-content,
.VisionCard3-content {
    color: #0e0e0eb3;
}

.VisionCard1-btn {
    color: #FFF;
    font-weight: 600;
    border-radius: 8px;
    background: #5490F5;
    padding: 11px 20px;
    border: none;
}
.VisionCard1-btn:hover{
    background: #3463b5;
    cursor: pointer;
}

.VisionCard2 {
    border-radius: 16px;
    border: 0px solid #09A15C;
    background: #C6E4D6;
    border: none;
    padding: 20px;

}


.VisionCard2-btn {
    color: #FFF;
    font-weight: 600;
    border-radius: 8px;
    background: #09A15C;
    padding: 11px 20px;
    border: none;
}
.VisionCard2-btn:hover{
    background: #238157;
    cursor: pointer;
}
.VisionCard3 {
    border-radius: 16px;
    border: 0px solid #FFC239;
    background: #F7EBCF;
    border: none;
    padding: 20px;

}

.VisionCard3-btn {
    color: #FFF;
    font-weight: 600;
    border-radius: 8px;
    background: #FFC239;
    padding: 11px 20px;
    border: none;
}
.VisionCard3-btn:hover{
    background: #c4972e;
    cursor: pointer;
}


/* advice-section */

.advice {
    margin: 80px 160px;
    padding: 48px 24px;
    border: 1px solid #0e0e0e26;
    border-radius: 16px;
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 25px 35px;
}

.advice-content {
    color: #0e0e0ecc;
}

.advice-yanus {
    color: #0e0e0ecc;
    font-size: 20px;
    font-weight: 600;
}

.Adviser {
    color: #0e0e0e99;
}


/* opinionMatters-section */

.opinionMatters {
    margin: 80px 160px;
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.opinionMattersDiv {
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

table {
    width: 100%;
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-collapse: collapse;
}

thead {
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #C6E4D6;
    padding: 24px;
}

th {
    font-size: 20px;
    font-weight: 600;
}

th,
td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.Opiniontd {
    width: 200px;
    text-align: center;
}


.OpinionYes {
    border-radius: 4px;
    border: 1px solid #0E0E0E;
    background: rgba(9, 161, 92, 0.15);
    padding: 10px 14px;
}
.OpinionYes:hover{
    background: rgba(16, 241, 140, 0.15);
    cursor: pointer;
    border: 1px solid #929492;
}



/* Recent-News-section */

.Recent-News{
    margin: 80px 160px;
}
.Recent-News-title {
    margin-top: 50px;
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}

.Recent-News-descreption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 40px;
    margin-top: 20px;
    border-radius: 24px;
    background: #FFF;
}

.descreption-img {
    border-radius: 24px;
}

.descreption-title {
    margin: 0 auto;
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.80);
}

.descreption-logo {
    margin: 0 auto;
}

.descreption-time {
    display: flex;
    gap: 10px;
}

.descreption-content {
    margin: 0 auto;
    color: rgba(14, 14, 14, 0.70);
}

.descreptionMore-btn,
.donate-btn {
    margin: 10px 0px;
    color: #FFF;
    font-weight: 600;
    border-radius: 8px;
    background: #006A50;
    padding: 13px 26px;
    border: none;
    cursor: pointer;
}

/* Donate-section */


.donate{
    margin: 80px 160px;
}
.donate-header {
    text-align: center;
}

.donate-title {
    font-size: 40px;
    font-weight: 700;
}

.donate-content {
    padding: 0px 50px;
    color: rgba(14, 14, 14, 0.70);
}

.donate-taka {
    display: flex;
    justify-content: space-between;
}

.donate-taka1 {
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 0px 40px;
    font-weight: 700;
    font-size: 40px;
    border-radius: 16px;
    background: #FFF;
    margin: 10px 0px;
}
.donate-taka1:hover{
    cursor: pointer;
    background-color: #0e9f74;
    color: white;
    
}

.donate-input1 {
    display: flex;
    justify-content: center;
}

.donate-input {
    margin-top: 20px;
    text-align: center;
    width: 90%;
    padding: 20px 40px;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15)
}

.donate-btn1 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.donate-btn1:hover{
    transform: scale(1.10);
}

/* Subscribe-section */
.Subscribe {
    margin: 0px 160px;
    border-radius: 24px;
    background: #C6E4D6;
    padding: 80px 100px;
    text-align: center;
}

.Subscribe-title {
    font-size: 40px;
    font-weight: 700;
}
.Subscribe-content{
    color: rgba(14, 14, 14, 0.70);
}

.Subscribe-input {
    display: flex;
    align-items: center;
    gap: 0;
    justify-content: center;
}

.Subscribe-input-text {
    border-radius: 8px 0px 0px 8px;
    background: #FFF;
    padding: 20px 40px;
    border-right: none;
    border: none;
}

.Subscribe-input-btn {
    border-radius: 0px 8px 8px 0px;
    background: #006A50;
    padding: 17px 34px;
    color: #FFF;
    font-weight: 600;
    font-size: 18px;
    border: none;
}
.Subscribe-input-btn:hover{
    background: #29e7ba;
}
/* footer section */
footer {
    text-align: center;
    background: #FFF;
    padding: 50px 0px;
    margin-top: 80px;
}

.footer-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
}

.footer-hr {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.footer-social {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}